[submodule "partner"]
	path = partner
	url = https://github.com/winanjuar/kezbek-partner.git
[submodule "authenticator"]
	path = authenticator
	url = https://github.com/winanjuar/kezbek-authenticator.git
[submodule "customer"]
	path = customer
	url = https://github.com/winanjuar/kezbek-customer.git
[submodule "transaction"]
	path = transaction
	url = https://github.com/winanjuar/kezbek-transaction.git
[submodule "promo"]
	path = promo
	url = https://github.com/winanjuar/kezbek-promo.git
[submodule "mailer"]
	path = mailer
	url = https://github.com/winanjuar/kezbek-mailer.git
[submodule "wallet"]
	path = wallet
	url = https://github.com/winanjuar/kezbek-wallet.git
[submodule "loyalty"]
	path = loyalty
	url = https://github.com/winanjuar/kezbek-loyalty.git
